---
page_title: "Provider: Designation"
subcategory: ""
description: |-
  The Designation provider allows the generation of names following a configured convention
---

# Designation Provider

The Designation provider allows the generation of names following a configured convention

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Author

[Datadrivers GmbH](https://www.datadrivers.de)
