---
page_title: "Provider: Convention"
subcategory: ""
description: |-
  The Convention provider allows the generation of names following the configured convention
---

# Convention Provider

The Convention provider allows the generation of names following the configured convention

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Author

[Datadrivers GmbH](https://www.datadrivers.de)
